@model IEnumerable<CoreMVCVueDataTable.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
@section Styles
{
    <link href="https://cdn.datatables.net/2.3.1/css/dataTables.dataTables.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/fixedheader/4.0.2/css/fixedHeader.bootstrap.min.css" rel="stylesheet" />
}

<table class="table table-striped table-hover">
    <thead class="table-primary">
        <tr>
            <th>ProductID</th>
            <th>ProductName</th>
            <th>SupplierId</th>
            <th>CategoryId</th>
            <th>QuantityPerUnit</th>
            <th>UnitPrice</th>
            <th>UnitsInStock</th>
            <th>UnitsOnOrder</th>
            <th>ReorderLevel</th>
            <th>Discontinued</th>
        </tr>
    </thead>
</table>

@section Scripts
{
    <script src="https://cdn.datatables.net/2.3.1/js/dataTables.min.js">
    </script>
    <script src="https://cdn.datatables.net/fixedheader/4.0.2/js/dataTables.fixedHeader.min.js">
    </script>
    <script>
        $(document).ready(function () {
          $('table').dataTable({
            processing: true,
            serverSide: true,
            ajax: {
                type: 'POST',
                url: "/Products/DataTableServer",
            },
            columns: [
              { "data": "productId", "width": "10%" },
              { "data": "productName", "width": "10%" },
              { "data": "supplierId", "width": "10%" },
              { "data": "categoryId", "width": "10%" },
              { "data": "quantityPerUnit", "width": "10%" },
              { "data": "unitPrice", "width": "10%" },
              { "data": "unitsInStock", "width": "10%" },
              { "data": "unitsOnOrder", "width": "10%" },
              { "data": "reorderLevel", "width": "10%" },
              { "data": "discontinued", "width": "10%" },
            ],
            fixedHeader: { header: true },
            language: {
              url:'https://cdn.datatables.net/plug-ins/1.13.1/i18n/zh-HANT.json'
            }
          });
});
    </script>
}
