@model OrderVM

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDate)
            </th>            
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @Html.DisplayFor(modelItem => Model.OrderId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.OrderDate)
            </td>
    </tbody>
</table>
