<div class="mb-3">
    <label class="form-label">訂單:</label>
</div>
<div class="mb-3">
    <select id="orders" asp-items="@ViewBag.Orders" class="form-control">
        <option>--請選擇--</option>
    </select>
</div>

