@model IEnumerable<Product>

<div id="app">
    <table class="table">
        <thead>
            <tr>
                <th>ProductName</th>
                <th>SupplierId</th>
                <th>CategoryId</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="p in products">
                <td>{{p.productName}}</td>
                <td>{{p.supplierId}}</td>
                <td>{{p.categoryId}}</td>
            </tr>
        </tbody>
    </table>

</div>
@section Scripts
{
    <script src="https://unpkg.com/vue@latest"></script>
    <script>
        var vueApp = {
            data() {
                return {
                    products: @Json.Serialize(Model),
                };
            },
        }
        var app = Vue.createApp(vueApp).mount("#app");
    </script>
}