@model ContactsViewModel

<form asp-controller="Home" asp-action="Contact" method="post">
    <div class="container" style="width:40%">
        <h3 class="mb-3 text-center">輸入聯絡資訊</h3>
        <div asp-validation-summary="All" class="text-danger mb-3"></div>
        <div class="form-floating mb-3">
            <input asp-for="Name" type="text" class="form-control" placeholder="" />
		    <label>@Html.DisplayNameFor(model => model.Name)</label>
		    <span asp-validation-for="Name" class="text-danger"></span>
	    </div>
        <div class="form-floating mb-3">
            <input asp-for="Email" type="email" class="form-control" placeholder="" />
		    <label>@Html.DisplayNameFor(model => model.Email)</label>
		    <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-floating mb-3">
            <input asp-for="Phone" class="form-control" placeholder="" />
		    <label>@Html.DisplayNameFor(model => model.Phone)</label>
		    <span asp-validation-for="Phone" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <button type="submit" value="submit" class="btn btn-success" >
                <i class="fa fa-save"></i> 送出
            </button>
        </div>
    </div>
</form>

@section Scripts 
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
