@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<hr />

<div class="container">
    <form action="#" method="get">
        <input type="text" name="name" placeholder="Your Name" />
        <input type="submit" value="Submit" />
    </form>
</div>