<div>
    <iframe title="SalesChart" width="800" height="636" src="https://app.powerbi.com/view?r=eyJrIjoiYjE4YTU4NWQtY2ZkZi00ZGZhLWE0ZDQtYWZkNGJjYTY0NWFjIiwidCI6IjE1NTRhNjBjLTcxZGUtNDU3ZC04MzRmLTMwYjcxNTk1ZmE5MiIsImMiOjEwfQ%3D%3D" frameborder="0" allowFullScreen="true"></iframe>
</div>
