@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@section Styles
{
    <link href="~/lib/datatables/css/jquery.datatables.min.css" rel="stylesheet" />
    <style>
        thead{
            background-color:maroon;
            color:white;
        }
    </style>
}
<table class="table">
    <thead>
        <tr>
            <td>OrderID</td>
            <td>ProductID</td>
            <td>UnitPrice</td>
            <td>Quantity</td>
            <td>Discount</td>
        </tr>
    </thead>
</table>

@section Scripts
{
    <script src="~/lib/datatables/js/jquery.datatables.min.js"></script>
    <script src="https://cdn.datatables.net/fixedheader/3.3.1/js/dataTables.fixedHeader.min.js"></script>
    <script>
        $(document).ready(function () {
            $('table').dataTable({
                ajax: {
                    type: 'POST',
                    url: "/OrderDetails/Index/Json",
                    dataSrc: function (json) {
                        return json;
                    }
                },
                columns: [
                    { "data": "orderId", "width": "20%" },
                    { "data": "productId", "width": "20%" },
                    { "data": "unitPrice", "width": "20%" },
                    { "data": "quantity", "width": "20%" },
                    { "data": "discount", "width": "20%" }
                ],
                fixedHeader: {
                    header: true,
                },
                language: {
                    url: 'https://cdn.datatables.net/plug-ins/1.13.1/i18n/zh-HANT.json'
                }
            });
        });
    </script>
}
