@{
    ViewData["Title"] = "Home Page";
}
@section Styles
{
    <style type="text/css">
        .switch {
            position: relative;
            display: inline-block;
            width: 60px;
            height: 34px;
        }

            .switch input {
                display: none;
            }

        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ccc;
            transition: .4s;
        }

            .slider:before {
                position: absolute;
                content: "";
                height: 26px;
                width: 26px;
                left: 4px;
                bottom: 4px;
                background-color: white;
                transition: .4s;
            }

        /* include generated hidden field here */
        input[type="checkbox"]:checked + input[type="hidden"] + .slider,
        input[type="checkbox"]:checked + .slider {
            background-color: #2196F3;
        }

        /* include generated hidden field here */
        input[type="checkbox"]:focus + input[type="hidden"] + .slider,
        input[type="checkbox"]:focus + .slider {
            box-shadow: 0 0 1px #2196F3;
        }

        /* include generated hidden field here */
        input[type="checkbox"]:checked + input[type="hidden"] + .slider:before,
        input[type="checkbox"]:checked + .slider:before {
            transform: translateX(26px);
        }

        /* Rounded sliders */
        .slider.round {
            border-radius: 34px;
        }

            .slider.round:before {
                border-radius: 50%;
            }
    </style>
}
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <input id="file" type="file" name="ImageFile" />
    <label class="switch">
        <input id="archive" type="checkbox" value="false" />
        <div class="slider round">
        </div>
    </label>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@section Scripts
{
    <script>
        $("#file").change(function () {
            var data = new FormData();
            data.append('FileName', this.files[0].name);
            data.append('ImageFile', this.files[0]);
            data.append('Archive', $("#archive").prop('checked'));
            const response = fetch('https://localhost:7139/api/UploadFile',
                {
                    method: 'POST',
                    body: data
                }).then(function (data) { 
                    return data.text();
                }).then(function (result) { 
                    alert(result);
                });
        });
    </script>
}